@model List<PacotesTuristicos>
@using Microsoft.AspNetCore.Http

<body class="vitrine">
    <ul>

        <li><a  asp-action="DestinoCerto">Destino Certo</a></li>
        <li><a asp-action="CadastraPacotes">Cadastrar Pacote</a></li>
        <li><a asp-action="EditaPacotes2">Edita Pacotes</a></li>
        <li><a asp-action="ExcluirPacotes2">Excluir inclusos</a></li>
        <li><a asp-action="FaleConosco">Fale Conosco</a></li>

    </ul>
<center><h2 class="text">Excluir Pacotes</h2></center>

<center>
    <table>
        <thead>
            <tr>
                
                <th>Nome</th>
                <th>Origem</th>
                <th>Destino</th>
                <th>Atrativos</th>
                <th>Saida</th>
                <th>Retorno</th>
                <th>Usuario</th>
                <th>Apagar mensagem</th>
            </tr>
        </thead>
        <tbody>
            
            @foreach(PacotesTuristicos pacotes in Model){
                @using (Html.BeginForm("ExcluirPacotes", "Home", new {id = pacotes.Id}))
{
                
                <tr>
                    <form method="Post">
                       
                    <td>@pacotes.Nome</td>
                    <td>@pacotes.Origem</td>
                    <td>@pacotes.Destino</td>
                    <td>@pacotes.Atrativos</td>
                    <td>@pacotes.Saida</td>
                    <td>@pacotes.Retorno</td>
                    <td>@pacotes.Usuario</td>
                    <td><button class="mess"><a class="fale">Apagar</a></button></td>
                    </form>
                </tr>
}
            }
            
        </tbody>
    </table>
</center>
</body>
<br><br><br><br>